Google Sheets New Row → Thank-You Email.json
{
  "name": "Google Sheets New Row → Thank-You Email",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1efz3OTYwLKVIMQARJeAkrXFYUyoOimX8tNEkjldzmPU",
          "mode": "list",
          "cachedResultName": "Заявка на услугу",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1efz3OTYwLKVIMQARJeAkrXFYUyoOimX8tNEkjldzmPU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2029284933,
          "mode": "list",
          "cachedResultName": "Відповіді форми (1)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1efz3OTYwLKVIMQARJeAkrXFYUyoOimX8tNEkjldzmPU/edit#gid=2029284933"
        },
        "event": "rowAdded",
        "options": {}
      },
      "id": "2f2aaaae-c4bd-4095-8aa1-4fb2a987b396",
      "name": "New Row Added",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        96
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "gE1ihkqh1TmS8iJW",
          "name": "Google Sheets Trigger OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"Електронна адреса\"] }}",
        "subject": "=Thank you for your request, {{ $json[\"Имя\"] }}!",
        "message": "=<p>Hi {{ $json[\"Имя\"] }},</p><p>Thank you for your request. Our team has received it and we will get back to you within 15 minutes.</p><p>You wrote: \"{{ $json[\"Сообщение\"] }}\"</p><p>Best regards,<br/>The Team</p>",
        "options": {}
      },
      "id": "50a165be-4d18-4085-8529-d5234899a8d0",
      "name": "Send Thank-You Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "webhookId": "da398f42-4432-4f5d-bc9c-63ec8acb230a",
      "credentials": {
        "gmailOAuth2": {
          "id": "pPuj21BayEFTxshI",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "609890543",
        "text": "=🆕 New lead!\n\nName: {{ $json[\"Имя\"] }}\nMessage: {{ $json[\"Сообщение\"] }}",
        "additionalFields": {}
      },
      "id": "856f86e6-59b1-4aae-85f6-a8e2d9cd50c0",
      "name": "Notify New Lead on Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        192
      ],
      "webhookId": "54498bff-8edb-4df4-b560-2293e004a594",
      "credentials": {
        "telegramApi": {
          "id": "Q2s77TpieY0DnO5G",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "New Row Added": {
      "main": [
        [
          {
            "node": "Send Thank-You Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify New Lead on Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ae8ef3f5-a9b6-4b8e-8554-e5974cd4c922",
  "meta": {
    "instanceId": "624568b85ee59c86b6ab8514b947a9435af6d643669532cac80986ac765e3289"
  },
  "nodeGroups": [],
  "id": "7hYKV7MGShDRorTr",
  "tags": []
}